<form [formGroup]="loginForm">
    <h1>Login</h1>
    <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input type="text" formControlName="phone_number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }" />
        <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
            <div *ngIf="f.phone_number.errors['required']">Phone Number is required</div>
            <div *ngIf="f.phone_number.errors['minLength'] || f.phone_number.errors['maxLength']">Phone Number must be 10 character long</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors['required']">Password is required</div>
            <div *ngIf="f.password.errors['minLength']">Password must be 5 character long</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="login()">Login</button>
        <span>You don't have an account !</span>
        <a [routerLink]="['/registration']" class="btn btn-link">Register</a>
    </div>
</form>


